<div class="container">
    <div class="row">
        <div class="col-md-3" *ngFor="let product of products">
            <div class="card">
                <img [src]="product.image" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary rounded-circle position-fixed bottom-0 end-0 m-4" routerLink="/products/add">
        <i class="bi bi-plus-lg"></i>
    </button>
</div>